/*En la sección ".services", se define un fondo de color, un relleno interior de 50 píxeles y una animación de entrada con un retraso de 1 segundo para el encabezado "h2".
Además, se proporciona un estilo de lista con un fondo de color, un radio de borde, una sombra de caja y un efecto de transición "hover".*/
.services {
    background-color: #caacac;
    padding: 50px;
  }
  
  .services h2 {
    text-align: center; /*Establecemos parametros que tienen que ver con la animación como (nombre duración delay...)*/
    animation-name: slide-in;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    font-size: 10rem;
  }
  
  @keyframes slide-in { /*El titulo de sección services comienza fuera del borde izquierdo de su contenedor en la etapa from en to vuelve a su posción original y gana opacidad*/
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .services ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .services li {
    background-color: #d55c5a;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 30px;
  }
  
  .services li:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .services h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .services p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
/*------------------------------------------------------------------------*/
/*En la sección ".gallery", se definen estilos para una galería de imágenes, que incluyen un fondo de color, un relleno interior de 50 píxeles, un tamaño máximo para las imágenes de 400 píxeles de ancho, un radio de borde y una sombra de caja para las imágenes.
Además, se proporciona un efecto de transición de escala y sombra cuando se coloca el cursor sobre una imagen.*/
.gallery {
  text-align: center;
  padding: 50px 0;
  background-color: #614040;
  color: #ffffff;
}

.gallery h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #ffffff;
} 
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .gallery-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  
  .gallery-container img:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  }  
  
  @media screen and (max-width: 768px) { /*También hay una declaración de medios para dispositivos de pantalla más pequeños que ajusta el tamaño máximo de las imágenes de la galería a 100% para dispositivos con una anchura de pantalla de hasta 768 píxeles.*/
    .gallery-container img {
      max-width: 100%;
    }
  }
  
  
  