.horarios { /*Define un estilo para una sección con clase "horarios", que incluye una tabla con un encabezado y filas de datos. También hay un conjunto de reglas que ajusta la apariencia de la tabla, como el color de fondo alternativo para las filas pares y el ancho del borde.*/
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  thead th { /*En la regla "thead th", se establece el color de fondo de las celdas del encabezado de la tabla, mientras que en "tbody td" se establece el espaciado interno de las celdas de datos.*/
    text-align: left;
    font-weight: bold;
    background-color: #eee;
    padding: 10px;
  }
  
  tbody td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  @media only screen and (max-width: 600px) { /*Sólo se aplica a pantallas más pequeñas, con un ancho máximo de 600 píxeles, y redefine la propiedad "flex-direction" de la sección "horarios" para que los elementos se apilen verticalmente en lugar de estar en una fila horizontal. También alinea los elementos centralmente en el eje vertical.*/
    .horarios {
      flex-direction: column;
      align-items: center;
    }
  }
/*------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
.reviews { /*Se establecen estilos para contenedor reviews*/
  position: relative;
}

.toggle-reviews { /*Se utiliza un enfoque de toggle para mostrar y ocultar el contenedor de comentarios.*/
  cursor: pointer;
  display: block;
  transition: color 0.3s ease-in-out;
}

.toggle-reviews:hover { /*La transición de color en el botón de toggle se activa al pasar el cursor sobre él.*/
  color: #ff0000;
  background-color: #ffffff;
}

.toggle-reviews-checkbox {
  display: none;
}

.reviews-container { /*La clase .reviews-container tiene una propiedad opacity que se establece en 0 y luego se cambia a 1 cuando se activa la casilla de verificación correspondiente.*/
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #000000;
  padding: 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.toggle-reviews-checkbox:checked + .reviews-container {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

